header {
  width: 350px;
  text-align: center;
  margin: 50px auto;
  padding: 15px;
  background-color: antiquewhite;
  border: 3px solid;
  border-radius: 25px;
}

#gameBoard {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 5px solid;
  border-radius: 25px;
  padding: 10px;
  background-color: lightgrey;
  text-align: center;
  margin-top: 10px;
  max-width: 500px;
  margin: 50px auto;
}

#playerDisplay {
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

#computerDisplay {
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

#resultDisplay {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#playerScoreDisplay {
  color: green;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

#computerScoreDisplay {
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  background-color: white;
  width: 7.5rem;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 30px;
}

button:hover {
  transform: scale(1.25);
  background-color: darkslategray;
  cursor: pointer;
}
